<footer>
    <div class="container-fluid">
        <div class="column col-md-3">
            <h3>Authors</h3>
        <hr>
        <ul>
            <li>Noel</li>
            <li>Jared</li>
            <li>Keith</li>
            <li>Ash</li>
            <li>Tamari</li>
        </ul>
        </div>
        <div class="column col-md-3">

        </div>
        <div class="column col-md-3">
            Credit to EDA
        </div>
    </div>
</footer>