<form method="POST" action="/welcome/{{username}}/stressId">
    <h3>Submit your stress level</h3>
    <button class="btn btn-primary" type="submit" value="submit">
        Submit
    </button>
</form>

<script>
    function getAction(){
        dom
    }
</script>