<div class="kantainer">
      <div class="kantainer-content">
            <!-- slide-wrap -->
            <div class="slide-wrap">
                  <!-- slide-button that goes to each of the slide -->
                  <div class="slide-button">
                        <a href="#slide-1" onclick="changeInput(event)">1</a>
                        <a href="#slide-2" onclick="changeInput(event)">2</a>
                        <a href="#slide-3" onclick="changeInput(event)">3</a>
                        <a href="#slide-4" onclick="changeInput(event)">4</a>
                        <a href="#slide-5" onclick="changeInput(event)">5</a>
                        <a href="#slide-6" onclick="changeInput(event)">6</a>
                        <a href="#slide-7" onclick="changeInput(event)">7</a>
                        <a href="#slide-8" onclick="changeInput(event)">8</a>
                        <a href="#slide-9" onclick="changeInput(event)">9</a>
                        <a href="#slide-10" onclick="changeInput(event)">10</a>
                  </div>
                  <!-- slides that goes inside the slide-wrap -->
                  <div class="kanye-slider">
                        <div class="kanye-slide" id="slide-1"><span><img src="/images/Kanye1-img.jpg" alt=""
                                          height="160px" width="140px"></span></div>
                        <div class="kanye-slide" id="slide-2"><span><img src="/images/Kanye2-img.jpg" alt=""
                                          height="160px" width="140px"></span></div>
                        <div class="kanye-slide" id="slide-3"><span><img src="/images/Kanye3-img.jpg" alt=""
                                          height="160px" width="140px"></span></div>
                        <div class="kanye-slide" id="slide-4"><span><img src="/images/Kanye4-img.jpg" alt=""
                                          height="160px" width="140px"></span></div>
                        <div class="kanye-slide" id="slide-5"><span><img src="/images/Kanye5-img.jpg" alt=""
                                          height="160px" width="140px"></span></div>
                        <div class="kanye-slide" id="slide-6"><span><img src="/images/Kanye6-img.jpg" alt=""
                                          height="160px" width="140px"></span></div>
                        <div class="kanye-slide" id="slide-7"><span><img src="/images/Kanye7-img.jpg" alt=""
                                          height="160px" width="140px"></span></div>
                        <div class="kanye-slide" id="slide-8"><span><img src="/images/Kanye8-img.jpg" alt=""
                                          height="160px" width="140px"></span></div>
                        <div class="kanye-slide" id="slide-9"><span><img src="/images/Kanye9-img.jpg" alt=""
                                          height="160px" width="140px"></span></div>
                        <div class="kanye-slide" id="slide-10"><span><img src="/images/Kanye10-img.jpg" alt=""
                                          height="160px" width="140px"></span></div>
                  </div>
            </div>
            <form method="POST" action="">
                  <h3>Submit your stress level</h3>
                  <input name="userName" type="text" hidden value="{{name}}">
                  <input name="stressLevel" type="text" hidden value='0'>
                  <button class="btn btn-primary" type="submit" value="submit">
                        Submit
                  </button>
            </form>
      </div>
</div>
<script>
      let stressLevel = document.querySelector('input[name="stressLevel"]')
      const name = document.querySelector('input[name="userName"]').value
      let form = document.querySelector('form[method="POST"]')

      function changeInput(event) {
            const value = event.target.textContent

            // Set Attributes
            stressLevel.setAttribute('value', value)
            form.setAttribute('action', `/welcome/${name}`)
      }
</script>