<div class="welcome">
  {{>header}}
  <h1>
    Welcome.
  </h1>
  <p>
    What should we call you?
  </p>
  <form action="/welcome" method="POST">
    <label for="name">Name</label><input type="text" name="name" id="welcome-name" placeholder="Kanye">
    <button>Submit</button>
  </form>
</div>