* {
  box-sizing: border-box;
}

.slide-button{
  font-size: 20px;
}

.kantainer-content {
  height: 400px;
  width: 400px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.kantainer {
  padding: 1em;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.kanye-slider {
  margin: 1em;
  height: 400px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  color: aqua;
}

.kanye-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
  height: 100%;
  background-color: white;
  scroll-behavior: smooth;
  font-size: 70px;
  border-radius: 50%;
  position: relative;
}


.kanye-slider > div {
  scroll-snap-align: start;
}

.kanye-slider > a {
  display: none;
}

